*{
    box-sizing: border-box;
}
html{
    height:100%
}
body{
    height: 100%;
    margin: 0px;
}
.container{
    height: 100%;
    background-color: #FCC41F;
}

.chatScreen{
    height: calc(100% - 120px);
}
.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}
.userPic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #FCC41F;
}
.userColumn{
    float: left;
}
.userNick{
    margin: 5px;
    font-weight: bold;
}
.userCount{
    font-weight: bold;
    font-size: 13px;
    color: gray;
}

.chatForm{
    height: 120px;
    background-color: white;
}
.chatFormField{
    height: 120px;
}
.chatFormMsg{
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    font-size: 24px;
    padding: 10px;
    resize: none;
}
.chatFormBtn{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #FCC41F;
    font-size: 18px
}
.chatFormMsg:focus{
    outline: none;
}
.chatFormBtn:active{
    background-color: #CB9D12;
}