#living{
    text-decoration: none;
    color: #36BC9B;
    font-weight: bold;
}

.profile6{
    color: hsla(200, 60%, 30%, 0.5);
}

.profile6 li{
    margin: 10px 0;
}

#img{
    border-radius: 10px 20px 30px 40px;
}

#mamma\ mia{
    width: 350px;
    background-clip: content-box;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 20px 40px 60px 80px;
}